.Carrinho{

    color: #21024b;
    background-color: #Ffcb16;
   
    border-radius: 20px;
    width: 15vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.itensCarrinho{
    color: white;
   
    padding: 50px;
    border-radius: 10px;
    position: fixed;
    width: 15vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     
    flex-wrap: wrap; 
    gap: 5px;
    
}

.butoon{
display: flex;

}
.total{
display: flex;
 margin-top: 19vw;

}